@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 15%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 15%;
    --primary: 240 5.9% 20%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 240 5.9% 20%;
    --muted: 0 0% 92%;
    --muted-foreground: 0 0% 50%;
    --accent: 210 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 92%;
    --input: 0 0% 96%;
    --ring: 210 100% 50%;
    --chart-1: 210 100% 50%;
    --chart-2: 15 86% 97%;
    --chart-3: 217 32% 17%;
    --chart-4: 0 84% 60%;
    --chart-5: 120 73% 75%;
    --radius: 0.5rem;
    --sidebar-background: 240 5.9% 20%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 210 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 5.9% 30%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 5.9% 25%;
    --sidebar-ring: 210 100% 50%;
  }
  .dark {
    --background: 240 5.9% 15%;
    --foreground: 0 0% 95%;
    --card: 240 5.9% 20%;
    --card-foreground: 0 0% 95%;
    --popover: 240 5.9% 18%;
    --popover-foreground: 0 0% 95%;
    --primary: 0 0% 95%;
    --primary-foreground: 240 5.9% 20%;
    --secondary: 240 5.9% 25%;
    --secondary-foreground: 0 0% 95%;
    --muted: 240 5.9% 30%;
    --muted-foreground: 0 0% 70%;
    --accent: 210 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 25%;
    --input: 240 5.9% 25%;
    --ring: 210 100% 50%;
    --chart-1: 210 100% 50%;
    --chart-2: 15 86% 97%;
    --chart-3: 217 32% 17%;
    --chart-4: 0 84% 60%;
    --chart-5: 120 73% 75%;
    --sidebar-background: 240 5.9% 15%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 210 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 5.9% 25%;
    --sidebar-accent-foreground: 0 0% 95%;
    --sidebar-border: 240 5.9% 20%;
    --sidebar-ring: 210 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
